<% layout('./layouts/boilerplate') %>
<h1>Browse the Most Popular Books</h1>
<div>
  <%for(let book of books){%>
  <li><a href="/books/<%=book._id%>"><%=book.title%></a></li>
  <h3><%=book.author%></h3>
  <%}%>
</div>
