<footer class="footer text-center bg-dark mt-auto py-3">
  <div class="container">
    <span class="text-muted"
      >&copy; BookThing 2023 - Developed by <a href="#">calmNinja</a></span
    >
  </div>
</footer>
