<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <form action="/forgot-password" method="POST" class="shadow p-4 rounded">
      <h2 class="mb-4">Forgot Password</h2>
      <div class="form-group mb-3">
        <label for="email" class="mb-2">Enter email</label>
        <input
          type="email"
          name="email"
          autofocus
          class="form-control"
          required
        />
      </div>
      <div class="form-group text-center mb-5">
        <input type="submit" class="btn btn-primary" value="Reset Password" />
      </div>
    </form>
  </div>
</div>
