<% layout('layouts/boilerplate')%>
<style></style>
<div class="container .d-flex justify-content-center align-items-center mb-4">
  <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="card-title mb-3 fs-2">Create An Account</h1>
        <form
          action="/register"
          method="POST"
          class="validated-form"
          novalidate
        >
          <div class="form-group mb-3">
            <label class="form-label" for="firstname">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstname"
              name="firstname"
              placeholder="Enter your first name"
              required
              minlength="4"
              autofocus
            />
            <div class="invalid-feedback">
              First Name must be at least 4 characters
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="lastname">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastname"
              name="lastname"
              placeholder="Enter your last name"
              minlength="4"
              autofocus
              required
            />
            <div class="invalid-feedback">
              Last Name must be at least 4 characters
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Enter a username"
              minlength="6"
              autofocus
              required
            />
            <div class="invalid-feedback">
              Must be at least 6 characters long
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="jane@gmail.com"
              required
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="avatar"
              >Avatar url<span class="text-muted">
                <small>(Optional)</small></span
              >
            </label>
            <input
              type="text"
              class="form-control"
              id="avatar"
              name="avatar"
              placeholder="Enter your avatar url"
              aria-describedby="avatar-error"
              novalidate
              pattern="^(http[s]?:\/\/|data:image\/).*$"
              autofocus
            />
            <div class="invalid-feedback">Please enter a valid url</div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Enter a Password"
              minlength="8"
              pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$"
              required
            />
            <div class="invalid-feedback">
              Password must be at least 8 characters and include a mix of
              numbers, alphabets, and special characters.
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="adminCode"
              >Admin Code
              <small class="text-muted">(for admin account only)</small></label
            >
            <input
              type="password"
              class="form-control"
              id="adminCode"
              name="adminCode"
              placeholder="Enter the Admin Code"
            />
          </div>
          <div class="form-group text-center mb-3">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
        <div class="text-center">
          <small
            >Already have an account? <a href="/login">Sign in here!</a></small
          >
        </div>
      </div>
    </div>
  </div>
</div>
